<!--suppress HtmlFormInputWithoutLabel -->

<div class="comment-reply" *ngIf="replyComment != undefined">
    <textarea rows="4" [(ngModel)]="replyComment.content" type="text" class="reply-text" placeholder="Type your response ..."></textarea>

    <div class="reply-submit">
        <button
            class="submit-button rounded"
            [ngClass]="!(loggedInObs | async) ? 'disabled' : ''"
            (click)="doReply()"
        >Submit</button>
        <button class="draft-button hollow rounded">Save draft</button>

        <span class="submit-error-container" *ngIf="replyError !== ''">{{replyError}}</span>
    </div>

</div>
