@import "../../../../styles/queries";

.comment-reply {
    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-items:     flex-start;

    width: 100%;
    @media ($query-desktop) { width: 50%; }

    margin-top: 1em;

    .reply-text { width: 100%; }

    .reply-submit {

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        width: 100%;

        margin-top: 1em;

        .submit-button {
            background-color: var(--accent-positive);

            width: 50%;
            max-width: 175px;
            align-self: flex-start;
        }

        .submit-error-container { color: var(--accent-negative); }

    }

}
