@import "../../../styles/fonts";
@import "../../../styles/colours";
@import "../../../styles/layouts";
@import "../../../styles/mixins";

.profile {

    @include pageContainer;

    #profile-header {
        display:         flex;
        flex-direction:  row;
        justify-content: flex-start;
        align-items:     center;

        #header-pfp {
            width: 3em;
            height: 3em;

            margin-right: 1em;

            border-radius: 50%;
        }
    }

}
