@import "fonts";

code * { font-family: $source; }

pre[class*="language-"] {
    border:          none !important;
    box-shadow:      none !important;
    * {
        text-shadow: none !important;
        font-size: 12px !important;
    }

    &:not(:first-child) {
        margin-top: 1.25em;
    }

    background: var(--card-bg) !important;
}
