$checkbox-active-color: rgb(22, 147, 204);

#parent {

    --body-fg: rgb(45, 45, 45);
    --body-bg: rgb(255, 255, 255);
    --body-ct: rgb(215, 215, 215);

    --header-fg: rgb(45, 45, 45);
    --header-bg: rgb(240, 240, 240);
    --header-ct: rgb(200, 200, 200);

    --card-fg: rgb(70, 70, 70);
    --card-bg: rgb(250, 250, 250);
    --card-ct: rgb(225, 225, 225);

    --border-color: rgb(200, 200, 200);

    --logo-filter: invert(0);

    &[data-theme="dark"] {
        --body-fg: rgb(252, 252, 252);
        --body-bg: rgb(35, 35, 35);
        --body-ct: rgb(25, 25, 25);

        --header-fg: rgb(245, 245, 245);
        --header-bg: rgb(50, 50, 50);
        --header-ct: rgb(40, 40, 40);

        --card-fg: rgb(250, 250, 250);
        --card-bg: rgb(45, 45, 45);
        --card-ct: rgb(35, 35, 35);

        --border-color: rgb(80, 80, 80);

        --logo-filter: invert(1);

    }

}
