@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$nunito: 'Nunito', sans-serif;
$source: 'Source Code Pro', sans-serif;

a:hover, a:hover * {
    color: var(--accent-neutral) !important;
}
