@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$nunito: 'Nunito', sans-serif;
$source: 'Source Code Pro', sans-serif;

.text-small {
    font-size: 1em;
}

.text-medium {
    font-size: 1.15em;
}

.text-large {
    font-size: 1.5em;
}

.text-huge {
    font-size: 2em;
}

.bold {
    font-weight: 600;
}
