@import "queries";

@mixin pageContainer($padding: true, $percent: percentage(2 / 3)) {
    background-color: var(--body-bg);

    @if ($padding) {
        padding: 2em 1.3em;
        @media (min-width: $query-desktop) {
            padding: 3em;
        }
    }

    @if ($padding) {
        width: $percent;
        @media (min-width: 0) and (max-width: 1200px) {
            width: 100%;
        }
    } @else {
        width: 100%;
    }

}

@mixin pageContainerHeader {
    display:                  flex;
    flex-direction:            row;
    justify-content: space-between;
    align-items:            center;
}

@mixin flex($direction: 'row', $align-main: 'flex-start', $align-cross: 'center') {
    display: flex;
    flex-direction: $direction;
    justify-content: $align-main;
    align-items: $align-cross;
}
