@import "fonts";

h1, h2, h3, h4, h5, h6 {
    padding: 0 0 .25em 0;
    font-family: $nunito;
    font-weight: 700;
}

h1 { font-size: 1.65em; }
h2 { font-size: 1.55em; }
h3 { font-size: 1.45em; }
h4 { font-size: 1.35em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.15em; }
