<div class="article">

    <div class="first-line clickable no-highlight" routerLink="/article/{{article.uuid}}">
        <!-- Title -->
        <h1 class="title">{{article.title}}</h1>

        <!-- Author -->
        <app-user-display class="author" [user]="article.createdBy" emSize="2.35"></app-user-display>
    </div>

    <div class="second-line clickable no-highlight" routerLink="/article/{{article.uuid}}">
        <!-- Summary -->
        <span class="summary">{{article.summary}}</span>

        <!-- Timestamp -->
        <span class="posted-at">{{article.createdAt | relativeTime}}</span>
    </div>

    <div class="last-line">
        <!-- Like count - clickable -->
        <a class="article-like-count clickable negative"
           *ngIf="loggedInObs | async"
           (click)="toggleLike()"
        >
            <fa-icon [icon]="this.article.likedByUser ? faHeartFilled : faHeartOutline" size="lg" [transform]="{ size: 19 }"></fa-icon>
            <span>&ensp;{{this.article.likeCount}}</span>
        </a>

        <!-- Like count - non-clickable -->
        <a class="article-like-count negative" *ngIf="!(loggedInObs | async)">
            <fa-icon [icon]="faHeartOutline" size="lg" [transform]="{ size: 18 }"></fa-icon>
            <span>&ensp;{{this.article.likeCount}}</span>
        </a>

        <span class="separator"></span>

        <!-- Comment count -->
        <a class="comment-count clickable">
            <fa-icon [icon]="faCommentAlt" size="lg" [transform]="{ size: 18, y: 1 }"></fa-icon>
            <span>&ensp;{{article.commentCount}}</span>
        </a>

        <span class="separator"></span>

        <!-- Share button -->
        <a class="share clickable" (click)="copyLinkToClipboard()">
            <fa-icon [icon]="faClipboard" size="lg" [transform]="{ size: 18, y: -1.4 }"></fa-icon>
        </a>

        <!-- Categories -->
        <div class="tags" *ngIf="article.categories.length > 0">
            <span *ngFor="let tag of article.categories">{{tag.name}}</span>
        </div>
    </div>

</div>
