@import "../../../../../styles/layouts";
@import "../../../../../styles/queries";

.article {

    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     flex-start;

    color: var(--card-fg);
    background: var(--card-bg);

    border: none;
    border-radius: $std-border-radius;

    $box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;;

    padding: 1.2em 1.5em;

    margin-top: 1.25em;

    .article-first-line {
        width: 100%;

        text-align: center;

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        .header-title {
            text-align: left;
        }

        .article-author {
            display:         flex;
            flex-direction:  row;
            justify-content: flex-start;
            align-items:     center;

            .author-pfp {
                margin-right: .85em;
            }

            .author-name { font-size: 1.7em; font-weight: 600; }

        }

    }

    .article-second-line {
        width: 100%;

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        .article-summary { font-size: 1.25em; }
        .article-posted-at { font-size: 1.30em; }
    }

    .article-read-more { color: var(--card-fg); }

    .article-last-line {
        width: 100%;

        margin-top: 1rem;

        text-align: center;

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        $element-separation: 1.25rem;
        .separator {
            margin-left: $element-separation !important;
        }
        a {
            display:         flex;
            flex-direction:  row;
            justify-content: space-between;
            align-items:     center;

            fa-icon:first-child { margin-right: .75rem; }

            span { font-size: 1.4rem; }
            font-weight: 600;

            @media (max-width: $query-desktop) {
                & fa-icon {
                    margin-right: 0 !important;
                }
                & .button-text {
                    display: none;
                }
            }

            &:not(:first-child) { margin-left: $element-separation; }
        }

        .article-comments-count {

        }

        .article-share {
            margin-right: auto;
        }

        .article-no-tags,
        .article-tags {
            display: flex;

            & > * {
                font-size: 1.35em;
                margin:    0    .25em;
                padding:  .15em .65em;

                border-radius: .3em;

                &:not(:nth-child(1)) { background-color: var(--card-ct); }
                &:nth-child(1)       { margin-right: 0; padding-right: 0; }
                &:last-child         { margin-right: 0 }
            }
        }

    }

}
