<div class="article">

    <div class="article-first-line">
        <!-- Title -->
        <h1 class="header-title">{{article.title}}</h1>

        <!-- Author -->
        <app-user-display [user]="article.createdBy" emSize="2.25"></app-user-display>
    </div>

    <div class="article-second-line">
        <!-- Summary -->
        <span class="article-summary">{{article.summary}}</span>

        <!-- Timestamp -->
        <span class="article-posted-at">{{article.createdAt | relativeTime}}</span>
    </div>

    <h3 class="article-read-more">
        <a class="article-read-more" routerLink="/article/{{article.uuid}}">Read More</a>
    </h3>

    <div class="article-last-line">
        <!-- Comment count -->
        <a class="article-comments-count clickable">
            <fa-icon [icon]="faCommentAlt" size="lg"></fa-icon>
            Comments ({{article.numberOfComments}})
        </a>

        <span class="separator"></span>

        <!-- Share button -->
        <a class="article-share clickable" (click)="copyLinkToClipboard(article)">
            <fa-icon [icon]="faShare" size="2x" [transform]="{ size: 15, y: 1 }"></fa-icon>
            Share
        </a>

        <!-- Categories -->
        <div class="article-tags" *ngIf="article.categories.length > 0">
            <span class="tags-title">Tags:&nbsp;</span>
            <span *ngFor="let tag of article.categories">{{tag.name}}</span>
        </div>

        <!-- No categories -->
        <span class="article-no-tags" *ngIf="article.categories.length == 0">
            <em>No tags</em>
        </span>
    </div>

</div>
