@import "src/styles/mixins";

#main-container {
    @include pageContainer;

    #container-header {

        margin-bottom: 1em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.15rem;

        .separator {
            margin: 0.5em 0;

            margin-left: 1.65rem !important;
            margin-right: 1.35em !important;
        }

        #right-area {
            display: flex;
            flex-direction: row;
            align-items: center;

            #flexible-space {
                flex-grow: 10;
            }

            #header-tabs {
                justify-self: end;
            }
        }

    }
}
