@import "../../../../../styles/mixins";

#main-container {
    @include pageContainer;

    #container-header {

        margin-bottom: 1em;

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        .separator {
            margin-left: 1.75rem !important;
        }

        #header-follow-button {
            margin-left: 1.75rem;
            margin-right: auto;
        }

    }
}
