<div class="notification" *ngIf="notification" routerLink="{{this.notification.routerLink}}">

    <div class="icon">
        <app-profile-picture *ngIf="this.iconIsPfp" [pfpFile]="this.notification.icon" [emSize]="2.25"></app-profile-picture>
    </div>

    <div class="content">
        <span class="title">{{this.notification.header}}</span>

        <span class="body">{{this.notification.desc}}</span>
    </div>

    <div class="controls">
        <span class="close clickable hover-negative" (click)="this.toastRef.close()">
            <fa-icon [icon]="faChevronDown" size="lg" [transform]="{ size: 22 }"></fa-icon>
        </span>
    </div>

</div>
