@import "src/styles/queries";

:host.collapse-on-mobile .user-display {
    @media (max-width: $query-desktop) {
        & .display-info { display: none; }
    }
}

.user-display {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: .65em;

    cursor: pointer;

    .display-pfp {

    }

    .display-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        font-size: inherit;
        line-height: 1.15em;
        font-weight: 600;

        .primary-info {
            font-size: 1em;
        }

        .secondary-info {
            font-size: .7em;
        }
    }

}
