<span class="user-display"
      *ngIf="user"
      [style.font-size]="emSize / sizeRatio + 'em'"
      [routerLink]="['/profile/' + user.username]">

    <app-profile-picture
        class="display-pfp"
        [pfpFile]="user.profilePicture"
        emSize="{{emSize * sizeRatio}}"
        [displayedVertically]="displayedVertically"
    >
    </app-profile-picture>

    <span class="display-info">
        <span class="primary-info">{{infoText}}</span>

        <span class="secondary-info" *ngIf="showSecondaryInfo">{{secondaryInfoText}}</span>
    </span>

</span>
