:host {
    display:         inline-flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}

.user-display {

    display:         inline-flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;

    cursor: pointer;

    .display-pfp {

    }

    .display-info {
        margin-left: .5em;

        font-size: 1.75em;
        font-weight: 600;
    }

}
