:host {
    display:         inline-flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}

.user-display {

    display: grid;
    grid-template: 1fr auto / 1fr auto;
    grid-column-gap: 1em;
    align-items: center;
    > * { justify-self: start; }

    cursor: pointer;

    .display-pfp {
        grid-row: span 2;
    }

    .display-info {
        font-size: 1.75em;
        line-height: 1.15em;
        font-weight: 600;
    }

    .display-secondary-info {
        font-size: .85em;
    }

}
