@import '../../../../styles/layouts';

.comment {
    width: 100%;

    display:         flex;
    flex-direction:  column;
    justify-content: stretch;
    align-items: flex-start;
    row-gap: .85em;

    padding: .2em 0 0 2.25em;

    margin-top: 1em;

    border-left: 2px dotted var(--border-color);

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .user { font-size: 1.25em; }
    }

    .body {
        * { font-size: 1.15em; }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .separator {
            margin-left: 1.35em !important;
            margin-right: 1.35em;
        }

        .button {
            fa-icon {
                margin-right: .4em;
            }

            font-size: 1.35em;

            &.like-count {
                font-size: 1.55em;
                font-weight: bold;
            }
        }

    }

    app-create-comment.reply {
        width: 100%;
    }

    .children {
        width: 100%;
    }

}
