@import '../../../../styles/layouts';

.comment {
    display:         flex;
    flex-direction:  column;
    justify-content: stretch;

    padding: 1em;

    margin-top: 1em;

    border: 1px solid var(--border-color);
    border-radius: $std-border-radius;

    .comment-user {
        .user-username { font-size: 1.25em; }
    }

    .comment-content {

    }

    .comment-reply {
        display:         flex;
        flex-direction:  column;
        justify-content: flex-start;
        align-items:     flex-start;

        width: 50%;

        margin-top: 1em;

        .reply-text { width: 100%; }

        .reply-submit {

            display:         flex;
            flex-direction:  row;
            justify-content: space-between;
            align-items:     center;

            width: 100%;

            margin-top: 1em;

            .submit-button {
                background-color: var(--accent-positive);

                width: 20%;
                align-self: flex-start;
            }

            .submit-error-container { color: var(--accent-negative); }

        }

    }

}
