@import "../../../styles/fonts";
@import "../../../styles/colours";

#navbar-list {

    display:           flex;
    flex-direction:     row;
    justify-content: center;
    align-items:     center;

    padding: 1em 1.5em;

    color: var(--header-fg);
    background-color: var(--header-bg);

    $box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: $box-shadow;
       -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;

    .navbar-elem {

        cursor: pointer;

        margin-left: 2.75em;

        &#home {
            margin-right: auto;
            padding-right: 15px;
            padding-left: 0;
        }

        &:not(#home) a {
            font-size: 1.3em;
            color: var(--header-fg);
        }

    }

}
