@import "../../../styles/fonts";
@import "../../../styles/colours";
@import "../../../styles/queries";

:host {
    z-index: 100;
}

nav {
    $box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;;
}

#navbar-list {

    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;

    height: 5.5rem;

    color: var(--header-fg);

    padding: 1.5em 3em;
    @media (max-width: $query-desktop) {
        padding: 1.5em 1.3em;
    }

    background-color: var(--header-bg);

    span { display: inline-block; }

    #home, #home-img-container {

        display: flex;
        align-items: center;

        filter: var(--logo-filter);

        img {
            width: 2.5em;
            height: 2.5em;
        }
    }

    #navbar-right {
        display:         flex;
        flex-direction:  row;
        justify-content: flex-end;
        align-items:     center;

        span, a {
            fa-icon {
                margin-right: .5em;
                vertical-align: middle;
            }

            &:not(:first-child) {
                margin-left: 1.1em;
            }

            vertical-align: middle;

            font-size: 1.35em;
            font-weight: 400;
        }

    }

    #profile, #login, #logout, #notifications, #theme-switch { cursor: pointer; }

    #profile {
        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        :first-child {
            margin-right: 1.1em;
        }

        font-size: 1.7em !important;
        font-weight: 600 !important;
    }

    /* #logout {
        &:hover { color: var(--accent-negative); }
    } */

    #notifications {
        &:hover { color: var(--accent-mild); }
    }

}
