@import "../../../styles/fonts";
@import "../../../styles/colours";
@import "../../../styles/queries";

#navbar-list {

    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;

    #navbar-left,
    #navbar-right {
        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;
    }

    padding: 1.75em 1.5em;
    @media (min-width: $query-desktop) {
        padding-left: 3em;
    }

    color: var(--header-fg);
    background-color: var(--header-bg);

    $box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: $box-shadow;
       -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;

    .navbar-elem {

        cursor: pointer;

        margin-left: 2em;

        &#home {
            margin-left: 0;

            #home-img-container {
                display:         flex;
                flex-direction:  column;
                justify-content: center;
                align-items:     center;

                img {
                    height: 2.5em;
                    filter: var(--logo-filter);
                }
            }
        }

        &:not(#home) a {
            font-size: 1.3em;
            color: var(--header-fg);
        }

        &#navbar-dark-mode-toggle {
            margin-left: 1.35em;
        }

        #profile-display {
            display:         flex;
            flex-direction:  column;
            justify-content: space-between;
            align-items:     flex-start;

            #profile-text {
                font-size: 0.85em;
                text-transform: uppercase;
            }

            #profile-username {
                font-size: 1.20em;
            }
        }

    }

    #navbar-dark-mode-toggle-container {
        margin-left: 1.35em;
        border-left: solid var(--border-color) 1px;
    }

}
