<nav class="navbar">

    <div id="navbar-list">

        <span id="navbar-left">

            <span id="home">
                <a routerLink="home" id="home-img-container">
                    <img src="assets/images/logo.svg"
                         alt="Blogify" />
                </a>
            </span>

<!--            <span id="left-links">-->
<!--                <span class="clickable bold text-large" id="link-home" routerLink="/home">-->
<!--                    <fa-icon [icon]="faListAlt" [transform]="{ size: 28 }"></fa-icon>-->
<!--                    Home-->
<!--                </span>-->

<!--                <span class="clickable bold text-large" id="link-users" routerLink="/users">-->
<!--                    <fa-icon [icon]="faUser" [transform]="{ size: 25 }"></fa-icon>-->
<!--                    Users-->
<!--                </span>-->
<!--            </span>-->

        </span>

        <span id="navbar-right" *ngIf="!(authService.observeIsLoggedIn() | async) || user">

            <app-user-display
                class="collapse-on-mobile clickable"
                id="profile"
                [user]="user"
                emSize="1.2"
                sizeRatio="1.2"
                *ngIf="authService.observeIsLoggedIn() | async"
                (click)="navigateToProfile()">
            </app-user-display>

            <span class="separator" *ngIf="authService.observeIsLoggedIn() | async"></span>

            <span id="notifications" class="clickable hover-mild" [ngClass]="this.areNotificationsShowing ? 'mild' : ''" *ngIf="authService.observeIsLoggedIn() | async" (click)="toggleNotifications()">
                <fa-icon size="lg" [icon]="faBell" [transform]="{ size: 16 }"></fa-icon>
            </span>

            <b-notifications-popover (needsToClose)="this.toggleNotifications()" *ngIf="this.areNotificationsShowing"></b-notifications-popover>

            <span id="theme-switch" class="clickable" (click)="toggleDarkMode()">
                <fa-icon size="lg" [icon]="faMoon" [transform]="{ size: 14 }"></fa-icon>
            </span>

            <span class="separator" *ngIf="authService.observeIsLoggedIn() | async"></span>

            <span id="logout" class="clickable hover-negative" *ngIf="authService.observeIsLoggedIn() | async" (click)="logout()">
                <fa-icon size="lg" [icon]="faSignOutAlt" [transform]="{ x: 2, size: 17 }"></fa-icon>
            </span>

            <ng-container *ngIf="!(authService.observeIsLoggedIn() | async)">
                <span class="separator" style="height: 30px"></span>

                <span id="login" class="clickable" (click)="navigateToLogin()">
                    <fa-icon [icon]="faUser" size="lg" [transform]="{ size: 14 }"></fa-icon>

                    Login
                </span>
            </ng-container>

        </span>

    </div>

</nav>
