<nav class="navbar">

    <div id="navbar-list">

        <span id="navbar-left">

            <span class="navbar-elem navbar-link" id="home">
                <a routerLink="home" id="home-img-container">
                    <img height="24em"
                     src="assets/images/logo.svg"
                     alt="Blogify" />
                </a>
            </span>

        </span>

        <span id="navbar-right">

            <span class="navbar-elem navbar-link" id="login">
                <a routerLink="/login" *ngIf="authService.userToken == ''">Login</a>
                <a (click)="navigateToProfile()" *ngIf="authService.userToken != ''">{{authService.userProfile.username}}</a>
            </span>

            <span class="navbar-elem navbar-link" id="register" *ngIf="authService.userToken == ''">
                <a routerLink="/register">Register</a>
            </span>

            <span class="checkbox navbar-elem navbar-dark-mode-toggle">
                <input id="toggle-dark-mode" type="checkbox" (change)="toggleDarkMode()" #darkModeToggle >
                <label for="toggle-dark-mode"><span class="toggle-circle"></span></label>
            </span>

        </span>

    </div>

</nav>
