<section class="login">

    <input id="tab-1" type="radio" name="radio-tabs" [attr.checked]="router.url == '/login' ? 'checked' : null">
    <label class="form-header" id="login-header" for="tab-1"><h2>Login</h2></label>

    <input id="tab-2" type="radio" name="radio-tabs" [attr.checked]="router.url == '/register' ? 'checked' : null">
    <label class="form-header" id="register-header" for="tab-2"><h2>Register</h2></label>

    <div id="forms">
        <div id="login-side">

            <div id="login-form">

                <div class="form-line" id="login-form-username">
                    <input placeholder="Username" id="login-input-username" type="text" name="user" [(ngModel)]="loginCredentials.username">
                </div>

                <div class="form-line" id="login-form-password">
                    <input placeholder="Password" id="login-input-password" type="password" name="pass" [(ngModel)]="loginCredentials.password">
                </div>

                <div class="form-submit" id="login-form-submit">
                    <span>Forgot your password ?</span>
                    <button (click)="login()">Login</button>
                </div>

            </div>

        </div>

        <div id="register-side">

            <div id="register-form">

                <div class="form-line" id="register-form-username">
                    <input placeholder="Username" id="register-input-username" type="text" name="user" [(ngModel)]="registerCredentials.username">
                </div>

                <div class="form-line" id="register-form-password">
                    <input placeholder="Password" id="register-input-password" type="password" name="pass" [(ngModel)]="registerCredentials.password">
                </div>

                <div class="form-line" id="register-form-name">
                    <input placeholder="Name" id="register-input-name" type="text" name="pass" [(ngModel)]="registerCredentials.name">
                </div>

                <div class="form-line" id="register-form-email">
                    <input placeholder="E-mail address" id="register-input-email" type="text" name="pass" [(ngModel)]="registerCredentials.email">
                </div>

                <div class="form-submit" id="register-form-submit">
                    <span>Forgot your password ?</span>
                    <button (click)="register()">Register</button>
                </div>

            </div>

        </div>
    </div>

</section>
