<!--suppress HtmlFormInputWithoutLabel -->
<h1>
    New Article
</h1>
<h3>
    Title: <input [(ngModel)]="article.title">
    <br>
    Text: <textarea rows="5" [(ngModel)]="article.content"></textarea>
    <br>
    Summary:<input [(ngModel)]="article.summary">
    <br>
    <button (click)="createNewArticle()">Create New Article</button>
</h3>


<br>
<br>

<ng-container *ngFor="let cat of article.categories">
    <input [(ngModel)]="cat.name">
</ng-container>

<button (click)="addCategory()">Add Category</button>


<div>article: {{article | json}}</div>
