@import "../../../styles/mixins";
@import "../../../styles/queries";

#new-article {

    @include pageContainer;

    display:         flex;
    flex-direction:  column;
    justify-content: stretch;
    align-items:     flex-start;

    #header-row {
        width: 100%;

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;
    }

    .data-row {
        width: 100%;

        &:not(:first-child) {
            margin-top: 1em;
        }

        &:not(:last-of-type) > span:first-child {
            width: 40%;

            font-size: 1.5em;

            @media (max-width: $query-desktop) {
                font-size: 1.6em;
                margin-bottom: .5em;
            }
        }

        & input:last-child,
        & textarea:last-child {
            flex-grow: 1;
        }

        &#categories-row {
            span:first-child { margin-right: auto; }
            justify-content: flex-end;

            input {
                margin: 0 .25em;
            }

            #category-add {
                margin-right: .7em;
                height: 100%;
            }
        }

        &#submit {
            width: 60%;
            margin-left: auto;

            flex-direction: row;
            justify-content: flex-end;

            * { font-size: 1.35em; }

            #submit-result-container {
                margin-right: auto;
                text-align: center;

                &.none {
                    display: none;
                }

                &.success {
                    color: var(--accent-positive);
                }

                &.error {
                    color: var(--accent-negative);
                }
            }

            button {
                flex-grow: 0;
                margin-left: .5em;
            }
        }

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;

        @media (max-width: $query-desktop) {
            flex-direction:  column;
            align-items:     stretch;
        }
    }

}
