<!--suppress HtmlFormInputWithoutLabel -->
<div id="new-article" *ngIf="user != undefined">

    <div id="header-row">
        <h1>New Article</h1>

        <app-user-display info="username" [user]="user"></app-user-display>
    </div>

    <span class="data-row" id="title-row">
        <span>Title</span>
        <input [(ngModel)]="article.title">
    </span>

    <span class="data-row" id="summary-row">
        <span>Summary</span>
        <input [(ngModel)]="article.summary">
    </span>

    <span class="data-row" id="content-row">
        <span>Content</span>
        <textarea rows="5" [(ngModel)]="article.content"></textarea>
    </span>

    <span class="data-row" id="submit">
         <button (click)="createNewArticle()">Create New Article</button>
    </span>

    <ng-container *ngFor="let cat of article.categories">
        <input [(ngModel)]="cat.name">
    </ng-container>

    <button (click)="addCategory()">Add Category</button>

</div>

