<section class="main">
    <section class="posts">

        <div class="post-list">
            <div class="post-content" *ngFor="let article of articles">
                <h1 class="post-title">{{article.title}}</h1>
                <h4 class="posted-by">Posted by  {{article.username}} </h4>
                <h3 class="read-more">
                    <a class="read-more" routerLink="/article/{{article.uuid}}">Read More</a>
                </h3>
                <!-- TODO: Actually impalement this-->
                <h4 class="comment-ammount">Comments: <span class="comment-bold-number">4</span></h4>
                <p class="tag-text">Tags</p>
                    <span *ngFor="let tag of article.categories">{{tag.name}}, </span>
            </div>
        </div>

    </section>
</section>
