@import "../../../assets/styles/fonts";
@import "../../../assets/styles/colours";

// Declare variables here

.main {
    .posts {
        margin: 2%;
        .post-content {
            background: white;
            border-radius: 10px;
            border: none;
            -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
            -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
            box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.26);
            font-family: $lexenda;
            padding: 3% 1%;
            width: 60%;
            margin-top: 2%;
        }
        .post-title {
            font-size: 30px;
        }
        .read-more {
            color: $link-colour;
        }
        .tags {
            display: flex;
        }
        .tag-text {
            display: flex;
        }
        .tag-list {
            background: white;
            -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);
            -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.26);
            display: flex;
            padding: 1%;
            margin-left: 1%;
            border-radius: 5px;
        }
    }
}



@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
