<section class="main">

    <section class="articles">

        <h2>Articles</h2>

        <div class="articles-container">

            <div class="article" *ngFor="let article of articles">

                <h1 class="article-title">{{article.title}}</h1>
                <h4 class="article-author">Posted by  {{article.createdBy.username}} </h4>
                <p>{{article.content.summary}}</p>
                <h3 class="read-more">
                    <a class="read-more" routerLink="/article/{{article.uuid}}">Read More</a>
                </h3>

                <!-- TODO: Actually impalement this-->
                <h4 class="article-comments-count">Comments: 4</h4>

                <div class="article-tags" *ngIf="article.categories.length > 0">
                    <span class="tags-title">Tags:&nbsp;</span>
                    <span *ngFor="let tag of article.categories">{{tag.name}},&nbsp;</span>
                </div>

                <span class="article-no-tags" *ngIf="article.categories.length == 0">
                    <em>No tags</em>
                </span>

            </div>
        </div>

    </section>

</section>
