<!--suppress HtmlFormInputWithoutLabel -->
<div id="new-article" *ngIf="user != undefined && !showingDrafts" [formGroup]="form">

    <div class="data-row" id="categories-row" formArrayName="categories">

        <span *ngFor="let control of formCategories.controls; let i = index" class="existing">
            <span tabindex="-1" contenteditable formControlName="{{i}}"></span>
        </span>

        <input type="text" id="new-category-input" (keydown.enter)="addCategory($event.target)" />
        <span style="flex: 1 1 auto"></span>
        <span (click)="toggleShowDrafts()">Drafts</span>
    </div>

    <span class="data-row" id="title-row">
        <input id="title-input" [formControl]="formTitle" placeholder="Title" />

        <app-user-display info="username" [user]="user" emSize=".95" sizeRatio="1.25"></app-user-display>
    </span>

    <span class="data-row" id="summary-row">
        <input [formControl]="formSummary" placeholder="Summary">
    </span>

    <span class="data-row" id="content-row">
        <textarea rows="5" [formControl]="formContent" placeholder="Content"></textarea>
    </span>

    <span class="data-row" id="submit-row">
        <span [className]="result.status" id="submit-result-container">{{result.message}}</span>

         <button [disabled]="!form.valid" class="positive rounded hollow" (click)="saveDraft()">Save Draft</button>
         <button [disabled]="!form.valid" class="positive rounded" (click)="createNewArticle()">Submit</button>
    </span>

</div>

<div class="drafts" *ngIf="user != undefined && showingDrafts">
    <div class="draft" *ngFor="let article of getAllDrafts()" (click)="editDraft(article)">

        <div class="first-line clickable no-highlight">

            <!-- Title -->
            <h1 class="title">
                {{article.title}}
            </h1>
        </div>

        <div class="second-line clickable no-highlight">
            <!-- Summary -->
            <span class="summary">{{article.summary}}</span>

            <!-- Timestamp -->
            <span class="posted-at">Drafted {{article.createdAt | relativeTime}}</span>
        </div>

        <div class="last-line">
            <!-- Categories -->
            <div class="tags" *ngIf="article.categories.length > 0">
                <span *ngFor="let tag of article.categories">{{tag.name}}</span>
            </div>
        </div>

    </div>
</div>
