<!--suppress HtmlFormInputWithoutLabel -->
<div id="new-article" *ngIf="user != undefined && !draftState.areShowing" [formGroup]="form">

    <div class="data-row" id="categories-row" formArrayName="categories">

        <span *ngFor="let control of formCategories.controls; let i = index" class="existing">
            <span tabindex="-1" contenteditable formControlName="{{i}}"></span>
        </span>

        <input type="text" id="new-category-input" (keydown.enter)="addCategory($event.target)" />
    </div>

    <span class="data-row" id="title-row">
        <input id="title-input" [formControl]="formTitle" placeholder="Title" />

        <app-user-display info="username" [user]="user" emSize=".95" sizeRatio="1.25"></app-user-display>
    </span>

    <span class="data-row" id="summary-row">
        <input id="summary-input" [formControl]="formSummary" placeholder="Summary">
    </span>

    <span class="data-row" id="content-row">
        <textarea rows="5" [formControl]="formContent" placeholder="Content"></textarea>
    </span>

    <span class="data-row" id="submit-row">
        <span
                class="clickable text-large"
                id="__categories_row_drafts"
                routerLink="./drafts"
                *ngIf="this.draftState.available.length"
        >
            <fa-icon [icon]="faDraftingCompass" size="lg" [transform]="{ size: 14 }"></fa-icon>

            Drafts ({{this.draftState.available.length}})
        </span>

        <span class="text-medium" [className]="result.status" id="submit-result-container">{{result.message}}</span>

         <button
                 class="positive rounded hollow"
                 [ngClass]="{ disabled: !form.valid }"
                 [disabled]="!form.valid"
                 (click)="saveOrUpdateDraft()"
         >
             {{this.draftState.isEditing ? 'Update' : 'Create'}} Draft
         </button>

         <button
                 [disabled]="!form.valid"
                 [ngClass]="{ disabled: !form.valid }"
                 class="positive rounded"
                 (click)="createNewArticle()"
         >
             Submit
         </button>
    </span>

</div>

<div class="drafts" *ngIf="user != undefined && draftState.areShowing">
    <span class="clickable" id="__drafts_go_back" (click)="this.router.navigateByUrl('/article/new')">
        <fa-icon [icon]="faArrowLeft" size="lg"></fa-icon>

        Go back
    </span>

    <div class="draft" *ngFor="let draft of draftState.available; let i = index" (click)="useDraft(draft)">

        <div class="first-line clickable no-highlight">

            <!-- Title -->
            <h1 class="title">
                {{draft.title}}
            </h1>
        </div>

        <div class="second-line clickable no-highlight">
            <!-- Summary -->
            <span class="summary">{{draft.summary}}</span>

            <!-- Timestamp -->
            <span class="posted-at">Drafted {{draft.createdAt | relativeTime}}</span>
        </div>

        <div class="last-line">
            <!-- Categories -->
            <div class="tags" *ngIf="draft.categories.length > 0">
                <span *ngFor="let tag of draft.categories">{{tag.name}}</span>
            </div>

            <!-- Delete button -->
            <span class="__draft_box__delete text-large clickable hover-negative" (click)="deleteDraft(draft.uuid); $event.stopPropagation()">
                <fa-icon [icon]="faTrashAlt"></fa-icon>

                Delete
            </span>
        </div>

    </div>
</div>
