@import "src/styles/mixins";
@import "src/styles/layouts";
@import "src/styles/queries";

#new-article {

    @include pageContainer(true, 80%);

    display:         flex;
    flex-direction:  column;
    justify-content: stretch;
    align-items:     center;

    #title-row {
        font-size: 2.5rem;

        #title-input {
            font-weight: bold;

            padding: .15em .45em;

            flex-grow: 1;

            border: none;

            &.ng-invalid.ng-touched {
                border: 1px solid var(--accent-negative);

                border-bottom-left-radius:  0;
                border-bottom-right-radius: 0;
            }
        }

        column-gap: .75em;

        padding-bottom: 0;
        padding-top: 0;
        padding-right: .9rem;

        background-color: var(--card-bg);

        border-top-left-radius:  $std-border-radius;
        border-top-right-radius: $std-border-radius;
        border: 1px solid var(--border-color);
    }

    #summary-row {
        font-size: 1.3rem;

        margin-top: 0 !important;

        & > #summary-input { border-top-left-radius: 0; border-top-right-radius: 0; }
    }

    #content-row {
        margin-top: 2.9em;

        textarea {
            &::placeholder {
                font-size: 1.3rem;
                font-weight: bold;
            }

            font-size: 1.25em;
            font-weight: normal;
        }
    }

    #categories-row {
        font-size: 1.35rem;

        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: .6em;

        margin-top: 1.2em;

        input {
            width: 8em;
            flex-grow: 0;

            &:not(:first-child) { margin-left: .6em; }
            padding: .25rem .75rem;

            border-radius: .5em;

            &#new-category-input {
                border-color: var(--accent-neutral);
            }
        }

        span.existing {
            pointer-events: none;

            &:not(:last-child) { margin-right: .25em; }
            padding: .25em .85em;

            border-radius: .5em;

            background-color: var(--body-ct);
        }

        #category-add {
            margin-right: .7em;
            height: 100%;
        }
    }

    #submit-row {
        width: 100%;

        margin-top: 1.25em;

        flex-direction: row;
        justify-content: flex-end;

        #__categories_row_drafts {
            margin-right: auto;

            font-weight: bold;

            fa-icon {
                margin-right: .35em;
            }
        }

        #submit-result-container {
            margin-left: auto;
            margin-right: 1em;

            &.none {
                display: none;
            }

            &.success {
                color: var(--accent-positive);
            }

            &.error {
                color: var(--accent-negative);
            }
        }

        button {
            flex-grow: 0;
            margin-left: .5em;
        }
    }

    .data-row {
        width: 100%;

        &:not(:first-child) {
            margin-top: .75rem;
        }

        & input:last-child,
        & textarea:last-child {
            font-size: 1em;
            font-weight: bold;

            padding: .55rem 1.35rem;

            border-radius: .75rem;

            flex-grow: 1;
        }

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     center;
    }

}

// Copied from single-article-box
.drafts {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    #__drafts_go_back {
        align-self: flex-start;

        display: flex;
        flex-direction: row;

        font-size: 1.75em;
        font-weight: bold;

        fa-icon {
            margin-right: .75em;
        }

        margin-top: .8em;
    }

    @include pageContainer(true, 80%);

    .draft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        color: var(--card-fg);
        background: var(--card-bg);

        &:hover {
            background: var(--header-bg);
        }

        border: 1px dotted transparent;
        border-radius: $std-border-radius;

        box-shadow: var(--std-box-shadow);

        padding: 1.4em 1.6em;

        margin-top: 1.25em;

        .first-line {
            width: 100%;

            text-align: center;

            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 1em;
            column-gap: 1em;

            padding-bottom: .95em;

            .title {
                flex-basis: 60%;
                flex-grow: 1;

                font-size: 1.9em;
                text-align: left;
                padding: 0;
            }

        }

        .second-line {
            width: 100%;

            display:         flex;
            flex-direction:  row;
            justify-content: space-between;
            align-items:     center;
            column-gap:      1em;

            .summary {
                flex-shrink: 1;

                word-break: break-word;
                font-size: 1.3em;
            }

            .posted-at {
                flex-grow: 1;
                flex-shrink: 0;

                text-align: end;
                font-size: 1.3em;
            }
        }

        .last-line {
            width: 100%;

            margin-top: 1.5em;

            text-align: center;

            display:         flex;
            flex-direction:  row;
            justify-content: space-between;
            align-items:     center;

            flex-wrap: wrap;
            row-gap: 1.4em;

            .tags {
                display: flex;
                flex-wrap: wrap;

                row-gap: .5em;

                & > * {
                    margin-right: .45em;
                    padding: .25em .85em;

                    font-size: 1.35em;
                    vertical-align: center;

                    border-radius: $std-border-radius;

                    &            { background-color: var(--card-ct); }
                    &:last-child { margin-right: 0; }
                }
            }

            .__draft_box__delete {
                margin-left: auto;

                font-weight: bold;

                fa-icon {
                    margin-right: .35em;
                }
            }

        }

    }

}
