/* You can add global styles to this file, and also import other style files */
/* We're working with the body tag, and so with the WHOLE page */

@import "styles/colours";
@import "styles/fonts";
@import "styles/markdown";
@import "styles/code";
@import "styles/forms";
@import "styles/layouts";
@import "styles/queries";
@import "styles/titles";

* {
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border-color 150ms ease-in-out;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: $nunito;
}

html {
    overflow-x: hidden;

    font-size: 10px;

    @media (min-width: $query-desktop) {
        font-size: 12px;
    }
}

#parent {
    background-color: var(--body-bg);

    min-height: 100vh;

    display:        flex;
    flex-direction: column;

    color: var(--body-fg);

    #license-info {
        margin-top: auto;
    }
}

a, a:visited, a:active, a:hover {
    color: unset;
}

// No idea why, but this doesn't work in SA
markdown {
    font-size: 1.35em;

    p:not(:last-of-type) {
        margin-bottom: 1.15em;
    }
}
