<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
</div>

<div class="Navigation">
  <a routerLink="/home">Home</a>
  <br>
  <a routerLink="/login">Login</a>
  <br>
  <a routerLink="/register">Register</a>
  <br>
  <a routerLink="/search">Search</a>
  <br>
  <a routerLink="/new-article">New Article</a>
  <br>
  <a routerLink="/profile/uuid">Profile</a>

</div>

<p>lets get this bread</p>

<p>How about we write better code, then get the bread</p>

<div>
    <div *ngFor="let article of articles">
        <h5>Title:  {{article.title}}</h5>
        <p>Categories: {{article.categories | json}}</p>
        <span>uuid: {{article.uuid}}</span>

    </div>
</div>
