@import "fonts";
@import "colours";

#navbar-list {

    display:           flex;
    flex-direction:     row;
    justify-content: center;
    align-items:     center;

    padding: 2em 3em;

    color: $header-fg-color;
    background: $header-bg-color;

    $box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: $box-shadow;
       -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;

    .navbar-link {

        padding-left: 2.75em;

        font-size: 1.25em;

        &#home {
            margin-right: auto;
            padding: 0;
        }

        &:not(#home) a {
            color: $link-color;

            padding-bottom: .35em;
            border-bottom: 1px solid lighten($link-color, 10%);
        }

    }

}
