<nav class="navbar">

    <ul id="navbar-list">

        <li class="navbar-link" id="home">
            <a routerLink="/home">blogify</a>
        </li>

        <li class="navbar-link" id="login">
            <a routerLink="/login">Login</a>
        </li>

        <li class="navbar-link" id="register">
            <a routerLink="/register">Register</a>
        </li>

        <li class="navbar-link" id="new">
            <a routerLink="/new-article">New Article</a>
        </li>

        <li class="navbar-link" id="profile">
            <a routerLink="/profile/uuid">Profile</a>
        </li>

    </ul>

</nav>
