@import "../../../assets/styles/fonts";

//noinspection ALL
#navbar-list {
    display:        flex;
    flex-direction:  row;
    justify-content: end;

    padding: 4em 3em;

    background: white;

    -webkit-box-shadow: 0px -2px 24px -2px rgba(0, 0, 0, 0.44);
       -moz-box-shadow: 0px -2px 24px -2px rgba(0, 0, 0, 0.44);
            box-shadow: 0px -2px 24px -2px rgba(0, 0, 0, 0.44);

    .navbar-link {

        padding-left: 2em;

        &#home {
            margin-right: auto;
            padding: 0;
        }

        color: black;
        font-family: $lexenda;
        font-size: 1.25em;
    }

}
