@import "../../../assets/styles/fonts";

.navbar {
    display: flex;
    justify-content: space-between;

    text-align: center;

    padding: 3% 2%;

    background: white;

    -webkit-box-shadow: 0px -2px 24px -2px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px -2px 24px -2px rgba(0,0,0,0.44);
    box-shadow: 0px -2px 24px -2px rgba(0,0,0,0.44);

    .navlink {
        color: black;
        font-family: $lexenda;
    }
    .blogify {
        font-size: 30px;
    }
    .login {
        font-size: 20px;
    }
}
