<section class="articles">

    <div id="articles-header">
        <h2 id="header-title">{{title}}</h2>

        <!--suppress HtmlFormInputWithoutLabel -->
        <input id="header-search-pad" type="text" placeholder="Search / Filter ... Type '?' for help">
        <fa id="header-search-icon" name="search" size="2x"></fa>

        <a id="header-create-btn" (click)="navigateToNewArticle()">
            <fa name="pencil" size="2x"></fa>
        </a>
    </div>

        <div class="article" *ngFor="let article of articles">

            <div class="article-first-line">
                <h1 class="header-title">{{article.title}}</h1>

                <span class="article-author">
                    <app-profile-picture class="author-pfp" [pfpFile]="article.createdBy.profilePicture" emSize="2"></app-profile-picture>

                    <span class="author-name">{{article.createdBy.name}}</span>
                </span>
            </div>

            <div class="article-second-line">
                <span class="article-summary">{{article.summary}}</span>

                <span class="article-posted-at">{{article.createdAt | relativeTime}}</span>
            </div>

            <h3 class="article-read-more">
                <a class="article-read-more" routerLink="/article/{{article.uuid}}">Read More</a>
            </h3>

            <div class="article-last-line">
                <!-- TODO: Actually impalement this-->
                <h4 class="article-comments-count">Comments: 4</h4>

                <div class="article-tags" *ngIf="article.categories.length > 0">
                    <span class="tags-title">Tags:&nbsp;</span>
                    <span *ngFor="let tag of article.categories">{{tag.name}}</span>
                </div>

                <span class="article-no-tags" *ngIf="article.categories.length == 0">
                    <em>No tags</em>
                </span>
            </div>

        </div>

</section>
