<section class="articles">

    <div id="articles-header">
        <!-- Back arrow, if necessary -->
        <a id="header-search-back" (click)="stopSearch()" *ngIf="showingSearchResults">
            <fa-icon [icon]="faArrowLeft" size="2x"></fa-icon>
        </a>

        <!-- Page title -->
        <h1 id="header-title">{{showingSearchResults ? 'Search results' :  title}}</h1>

        <!-- Search pad -->
        <!--suppress HtmlFormInputWithoutLabel -->
        <input [(ngModel)]="this.searchQuery" id="header-search-pad" type="text" placeholder="Search / Filter ... Type '?' for help" (keydown.enter)="startSearch()" *ngIf="showingPad">

        <!-- Search icon -->
        <a id="header-search-icon" (click)="showPad()" *ngIf="!showingPad">
            <fa-icon [icon]="faSearch" size="2x"></fa-icon>
        </a>

        <!-- New article -->
        <a id="header-create-btn" (click)="navigateToNewArticle()" *ngIf="allowCreate">
            <fa-icon [icon]="faPencil" size="2x"></fa-icon>
        </a>
    </div>

    <div id="articles-main" *ngIf="!showingSearchResults">
        <app-single-article-box *ngFor="let article of articles" [article]="article"></app-single-article-box>
    </div>

    <div id="search-results" *ngIf="showingSearchResults">
        <app-single-article-box *ngFor="let article of searchResults" [article]="article"></app-single-article-box>
    </div>

</section>
