<section class="articles" *ngIf="articles">

    <div id="articles-header">
        <!-- Back arrow, if necessary -->
        <a id="header-search-back" (click)="stopSearch()" *ngIf="showingSearchResults">
            <fa-icon [icon]="faArrowLeft" size="2x"></fa-icon>
        </a>

        <!-- Page title -->
        <h1 *ngIf="!showingMobileSearchBar" id="header-title">{{showingSearchResults ? 'Search results' :  title}}</h1>

        <!-- Desktop search pad -->
        <!--suppress HtmlFormInputWithoutLabel -->
        <input [(ngModel)]="this.searchQuery"
               *ngIf="!showingMobileSearchBar"
               id="header-search-pad"
               type="text" placeholder="Search / Filter ... Type '?' for help"
               (keydown.enter)="navigateToSearch()"
               (keydown.escape)="stopSearch()">

        <!-- Mobile search pad -->
        <!--suppress HtmlFormInputWithoutLabel -->
        <input [(ngModel)]="this.searchQuery"
               *ngIf="showingMobileSearchBar"
               id="header-mobile-search-pad"
               type="text" placeholder="Search / Filter ... Type '?' for help"
               (keydown.enter)="navigateToSearch()"
               (keydown.escape)="setShowSearchBar(false)"
               (focusout)="setShowSearchBar(false)">

        <!-- Search icon -->
        <a id="header-search-icon" *ngIf="!showingMobileSearchBar" (click)="setShowSearchBar(true)">
            <fa-icon [icon]="faSearch" size="2x"></fa-icon>
        </a>

        <!-- New article -->
        <a id="header-create-btn" class="clickable" (click)="navigateToNewArticle()" *ngIf="allowCreate && !forceNoAllowCreate">
            <fa-icon [icon]="faPencil" size="2x"></fa-icon>
        </a>
    </div>

    <!--<app-filtering-menu></app-filtering-menu>-->

    <div id="articles-main" *ngIf="!showingSearchResults">
        <app-single-article-box *ngFor="let article of articles" [article]="article"></app-single-article-box>

        <span id="next-page" class="clickable hover-positive" (click)="loadPage()" *ngIf="moreAvailable">
            <fa-icon [icon]="faArrowAltCircleDown" [transform]="{ size: 26, y: 1 }"></fa-icon>

            Load More
        </span>
    </div>

    <div id="no-content" *ngIf="articles.length == 0 && !showingSearchResults">
        <div id="content-empty">
            <fa-icon [icon]="faTimes" size="5x"></fa-icon>
            <span id="content-empty-text">{{noContentMessage}}</span>
        </div>
    </div>

    <div id="search-results" *ngIf="showingSearchResults">
        <div id="results-empty" *ngIf="searchResults.length === 0">
            <fa-icon [icon]="faTimes" size="5x"></fa-icon>
            <span id="empty-text">No search results :(</span>
        </div>
        <app-single-article-box *ngFor="let article of searchResults" [article]="article"></app-single-article-box>
    </div>

</section>
