@import "../../../../styles/fonts";
@import "../../../../styles/colours";
@import "../../../../styles/layouts";
@import "../../../../styles/mixins";

:host {
    &.no-padding       { .articles { @include pageContainer(false) } }
    &:not(.no-padding) { .articles { @include pageContainer(true) } }
}

.articles {

    #articles-header {

        @include pageContainerHeader;

        $search-icon-break: 1300px;

        #header-search-back {
            margin-right: 1.15em;
        }

        #header-title {
            margin-right: 1em;
        }

        #header-search-pad {
            flex-grow: 1;
            //@media (min-width: 0) and (max-width: $search-icon-break) {
            //    display: none;
            //}
        }

        #header-search-icon {
            margin-left: auto;

            @media (min-width: $search-icon-break) {
                display: none;
            }
        }

        #header-create-btn {
            cursor: pointer;

            margin-left: 2.7em;
        }
    }

}
