@import "src/styles/fonts";
@import "src/styles/colours";
@import "src/styles/layouts";
@import "src/styles/mixins";

:host {
    &.no-padding       { .articles { @include pageContainer(false) } }
    &:not(.no-padding) { .articles { @include pageContainer(true) } }
}

.articles {

    #articles-header {

        @include pageContainerHeader;

        $search-icon-break: 1300px;

        #header-search-back {
            margin-right: 1.15em;
        }

        #header-title {
            font-size: 2em;

            padding: 0;
            margin-right: 1em;
        }

        #header-search-pad, #header-mobile-search-pad {
            flex-grow: 1;
            font-size: 1.25em;

            &#header-search-pad {
                @media (min-width: 0) and (max-width: $search-icon-break) {
                    display: none;
                }
            }
        }

        #header-search-icon {
            margin-left: auto;

            @media (min-width: $search-icon-break) {
                display: none;
            }
        }

        #header-create-btn {
            margin-left: 2.35em;
            margin-right: 1em;

            cursor: pointer;
        }
    }

    #articles-main {

        display: flex;
        flex-direction: column;

        #next-page {
            align-self: flex-end;

            display: flex;
            align-items: center;

            column-gap: .75em;

            margin-top: 1em;

            font-size: 1.5em;
            font-weight: bold;
        }

    }

    #content-empty {
        display:         flex;
        flex-direction:  column;
        justify-content: flex-start;
        align-items:     center;

        margin-top: 5em;

        #content-empty-text {
            font-size: 1.65em;
            font-weight: 600;
        }
    }

    #search-results {
        display:         flex;
        flex-direction:  column;
        justify-content: flex-end;
        align-items:     center;

        > * { width: 100%; }

        #results-empty {
            display:         flex;
            flex-direction:  column;
            justify-content: flex-start;
            align-items:     center;

            margin-top: 5em;

            #empty-text {
                font-size: 1.65em;
                font-weight: 600;
            }
        }
    }

}
