@import "src/styles/mixins";
@import "src/styles/layouts";

.container-article {
    @include pageContainer(true, 80%);

    .article-header {

        display:         flex;
        flex-direction:  column;
        justify-content: flex-start;
        align-items:     flex-start;

        margin-bottom: 1.5em;

        .article-no-tags,
        .tags {
            display:         flex;
            justify-content: flex-start;
            align-items:     flex-start;

            margin-top: 1.2rem;

            & > * { // No tags text
                font-size: 1.35rem;
            }

            &:not(.article-no-tags) > * { // Tags themselves
                margin: 0 .5em 0 0;
                padding: 0.25em 0.85em;

                border-radius: $std-border-radius;

                background-color: var(--body-ct);
                &:first-child { margin-left: 0; }
                &:last-child  { margin-right: 0; }
            }
        }

        #title-row {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 5em;

            width: 100%;

            margin-top: 1.6em;

            #title {
                font-size: 2.5em;
                padding-bottom: 0;
                padding-top: 0;

                word-break: break-all;
            }

            #user {
                margin-left: auto;
            }

        }

        .summary-row {
            font-size: 1.5em;

            padding-bottom: 1em;
            padding-top: 0;
        }

        .header-bottom {

            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            margin-left: 1px;

            * { vertical-align: middle; }

            div {
                display: flex;

                &#icons-right { margin-left: auto };

                .likes {
                    span { font-size: 1.5em; font-weight: 600; margin-left: .3em; }
                    margin-right: .25rem;
                }

                .date {
                    margin-left: 1.25rem;
                    font-size: 1.5em;
                }

                .separator {
                    width: 1px;
                    height: 20px;
                    margin: auto 0 auto 1rem !important;
                }

                #button-share {
                    margin-left: auto;
                    margin-right: .25rem;
                }

                #button-update {
                    margin-left: 1.25rem;
                    cursor: pointer;
                }

                #button-delete {
                    margin-left: 1.1rem;
                    cursor: pointer;
                }

                #button-pin {
                    margin-left: 1.1rem;
                }
            }

        }

    }

    #article-content {
        display: block;

        text-align: justify;
        text-justify: inter-word;

        margin-bottom: .75em;
    }

    #comments {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        row-gap: 2.15em;

        margin-top: 1.75em;

        #comments-header {
            padding: 0;
        }
    }

}
