@import "../../../styles/mixins";

.container-article {
    @include pageContainer(true, 80%);

    .article-header {

        display:         flex;
        flex-direction:  column;
        justify-content: flex-start;
        align-items:     flex-start;

        * { margin: .1em; }

        margin-bottom: 1.5em;

        .article-no-tags,
        .article-tags {
            display:         flex;
            justify-content: flex-start;
            align-items:     flex-start;

            margin-top: 1.2em;

            & > * {
                font-size: 1.15em;
            }

            &:not(.article-no-tags) > * {

                margin:    0    .25em;
                padding:  .15em .65em;

                border-radius: .3em;

                background-color: var(--header-bg);
                &:first-child { margin-left: 0; }
                &:last-child  { margin-right: 0; }
            }
        }

        .header-title {
            font-size: 3em;
            padding-bottom: 0;
            padding-top: 0;
        }

        .header-bottom {

            width: 100%;

            display:         flex;
            flex-direction:  row;
            justify-content: flex-start;
            align-items:     center;

            * { vertical-align: middle; }

            .user {
                margin-left: .5em;
                font-size: 1.85em;
            }

            .date {
                margin-left: 1rem;
                font-size: 1.5em;
                margin-top: 4px;
            }

            .separator {
                height: 70%;
                margin: auto 0 auto 1rem !important;
            }

            #button-share {
                margin-left: 1rem;
            }

            #button-update {
                margin-left: auto;
                cursor: pointer;
            }

            #button-delete {
                margin-left: 1.75rem;
                cursor: pointer;
            }
        }

    }

    #article-content {
        text-align: justify;
        text-justify: inter-word;
    }

    .article-comments {

        .comments-header {
            display:         flex;
            flex-direction:  row;
            justify-content: space-between;
            align-items:     center;
        }

    }

}
