<p>show-article works!</p>
<div *ngIf="article">
    <h3>{{article.title}}</h3>

    <p>Categories</p>
    <ul>
        <li *ngFor="let cat of article.categories">{{cat.name}}</li>
    </ul>
    <p>{{article.content}}</p>
    <p>{{article.summary}}</p>
    <p>UUID: {{article.uuid}}</p>
    <p>Created at: {{convertTimeStampToHumanDate(article.createdAt)}}</p>
    <p>Created by {{article.createdBy.username}}</p>

    <h4>Comments:</h4>
    <app-article-comments [article]="article"></app-article-comments>

    <h5 class="delete-article">
        <button (click)="deleteArticle()" >Delete Article</button>
    </h5>
    <h4 class = "new-comment">
        New Comment: <input [(ngModel)]="comment.content">
        <button (click)= "newComment()">New Comment</button>
    </h4>
</div>
