@import "../../../styles/mixins";
@import "../../../styles/layouts";

.container-article {
    @include pageContainer(true, 80%);

    .article-header {

        display:         flex;
        flex-direction:  column;
        justify-content: flex-start;
        align-items:     flex-start;

        margin-bottom: 1.5em;

        .article-no-tags,
        .article-tags {
            display:         flex;
            justify-content: flex-start;
            align-items:     flex-start;

            margin-top: 1.2em;

            & > * {
                font-size: 1.15em;
            }

            &:not(.article-no-tags) > * {

                margin:    0    .25em 0 0;
                padding:  .25em .75em;

                border-radius: $std-border-radius;

                background-color: var(--header-bg);
                &:first-child { margin-left: 0; }
                &:last-child  { margin-right: 0; }
            }
        }

        #title-row {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            width: 100%;

            #title {
                font-size: 3em;
                padding-bottom: 0;
                padding-top: 0;
            }

            #user {
                margin-left: auto;
            }

        }

        .summary-row {
            font-size: 1.5em;
            padding-bottom: 1em;
            padding-top: 0;
        }

        .header-bottom {

            width: 100%;

            display:         flex;
            flex-direction:  row;
            justify-content: flex-start;
            align-items:     center;

            * { vertical-align: middle; }

            .likes {
                span { font-size: 1.5em; font-weight: 600; margin-left: .3em; }
                margin-right: .25rem;
            }

            .date {
                margin-left: 1.25rem;
                font-size: 1.5em;
            }

            .separator {
                height: 20px;
                margin: auto 0 auto 1rem !important;
            }

            #button-share {
                margin-left: auto;
                margin-right: .25rem;
            }

            #button-update {
                margin-left: 1.25rem;
                cursor: pointer;
            }

            #button-delete {
                margin-left: 1.1rem;
                cursor: pointer;
            }
        }

    }

    #article-content {
        display: block;

        text-align: justify;
        text-justify: inter-word;

        margin-bottom: .75em;
    }

    #comments {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        row-gap: 1.95em;

        margin-top: 1.75em;

        #comments-header {
            padding: 0;
        }
    }

}
