<div class="container-article" *ngIf="article">

    <div class="article-header">

        <div class="header-categories">
            <!-- Categories -->
            <div class="article-tags" *ngIf="article.categories.length > 0">
                <span *ngFor="let tag of article.categories">{{tag.name}}</span>
            </div>

            <!-- No categories -->
            <span class="article-no-tags" *ngIf="article.categories.length == 0">
                <em>No tags</em>
            </span>
        </div>

        <!-- Title -->
        <h1 class="header-title">{{article.title}}</h1>

        <div class="header-bottom">

            <!-- Author -->
            <app-user-display [user]="article.createdBy" emSize="2.75"></app-user-display>

            <span class="separator"></span>

            <!-- Timestamp -->
            <span class="date">{{article.createdAt | relativeTime}}</span>

             <!-- Update button -->
            <a id="button-update" routerLink="/article/update/{{article.uuid}}" *ngIf="showUpdateButton">
                 <fa-icon [icon]="faEdit" size="2x" [transform]="{ size: 19 }"></fa-icon>
            </a>

            <!-- <button routerLink="/article/update/{{article.uuid}}"
                    id="button-update"
                    class="hollow small neutral"
                    *ngIf="showUpdateButton">
                Update
            </button> -->

            <!-- Delete button -->
            <a id="button-delete" class="hover-negative" (click)="deleteArticle()" *ngIf="showUpdateButton">
                <fa-icon [icon]="faTimes" size="2x" [transform]="{ size: 22 }"></fa-icon>
            </a>
            <!-- <button (click)="deleteArticle()"
                    id="button-delete"
                    class="hollow small negative"
                    *ngIf="showDeleteButton">
                Delete
            </button> -->

        </div>

    </div>

    <!-- Markdown-rendered content -->
    <markdown id="article-content" data="{{article.content}}" [line]="'6, 10-16'" [lineOffset]="5"></markdown>

    <!-- Comments section -->
    <div class="article-comments">

        <!-- Comments title -->
        <div class="comments-header">
            <h2>Comments</h2>
        </div>

        <!-- Article reply box -->
        <app-create-comment [replying]="true" [article]="article"></app-create-comment>

        <!-- Comments list -->
        <app-article-comments [article]="article"></app-article-comments>

    </div>

</div>
