:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.95em;
}

#next-page {
    margin-top: -.4em;

    display: flex;
    align-items: center;

    column-gap: .75em;

    font-size: 1.5em;
    font-weight: bold;
}
