.tab-container {

    display:         flex;
    flex-direction:  row;
    justify-content: flex-start;
    align-items:     center;

    .tab {

        &:not(:first-child) { margin-left: 1.75em; }

        border-bottom: solid 3px transparent;
        &.activated {
            border-bottom: solid 3px var(--body-fg);
        }

        .tab-name {
            font-size: 2em;
            font-weight: 600;

            cursor: pointer;
        }

    }

}
