<h1>
  {{title}}
</h1>
<h1>
  Epic Bruh Moment
</h1>
<button (click)= "getArticles()">get articles</button>

<button (click)= "getUsers()">get users</button>

<button (click)= "getComments()">get articles</button>

<button (click)= "getContent()">get content</button>

<script>
  //TODO: OnInit() in html
</script>

<h4>articles</h4>
<div *ngFor="let article of articles">
    <h5 style="margin: 0px; padding: 0px">{{article.title}}</h5>
    <span>{{article.uuid}}</span>
</div>

<h4>users</h4>
<div *ngFor="let user of users">
    <h5 style="margin: 0px; padding: 0px">{{user.name}}</h5>
    <span>{{user.uuid}}</span>
</div>

<h4>comments</h4>
<div *ngFor="let comment of comments">
    <h5 style="margin: 0px; padding: 0px">{{comment.content}}</h5>
    <span>{{comment.article}}</span><br>
    <span>{{comment.commenter}}</span><br>
</div>

