<div id="footer">

    <span id="footer-logo">
        <img src="assets/images/logo.svg" alt="Blogify">
    </span>

    <span class="separator"></span>

    <div id="version-container">
        <span id="version-number">Blogify v0.4.0-preRelease</span>
        <span id="version-detailed">Build XXXX</span>
    </div>

    <span class="separator"></span>

    <div id="links-container">
        <a href="https://github.com/blogify-dev/blogify" class="clickable" id="link-source-code">Source code</a>
        <a href="#" class="clickable" id="link-debug">Debug</a>
        <a href="#" class="clickable" id="link-about">About</a>
    </div>

</div>
