$link-color: rgb(39, 43, 52);

$body-fg-color: rgb(45, 45, 45);
$body-bg-color: rgb(252, 252, 252);

$header-fg-color: rgb(45, 45, 45);
$header-bg-color: rgb(245, 245, 245);

$card-fg-color: rgb(70, 70, 70);
$card-bg-color: rgb(250, 250, 250);
